<ul class="menu text-base-content w-80 py-10 sm:p-8">
  <li class="w-6 mb-4">
    <div class="tooltip" data-tip="Home">
      <a routerLink="/"
        ><ng-icon size="25" name="bootstrapHouse"></ng-icon
        ><span class="hidden text-md sm:block">Home</span></a
      >
    </div>
  </li>
  <li class="w-6 mb-4">
    <div class="tooltip" data-tip="About">
      <a routerLink="/about"
        ><ng-icon size="25" name="bootstrapPerson"></ng-icon
        ><span class="hidden text-md sm:block">About</span></a
      >
    </div>
  </li>
</ul>
